# Title: Configuration of code.kx.com
# Author: stephen@kx.com
# Site version: 1
# Date: 2018.10.24
copyright: 'This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. Kx® and kdb+ are registered trademarks of <a href="https://kx.com">Kx Systems, Inc.</a>, a subsidiary of <a href="http://www.firstderivatives.com/">First Derivatives plc</a>.'
dev_addr: '0.0.0.0:8000'
docs_dir: 'docs'
extra_css: 
  # - stylesheets/kendo.common.min.css
  # - stylesheets/kendo.material.min.css
  - 'stylesheets/prism.css'
  - 'stylesheets/extra.css'
extra_javascript: 
  # See /ref/syntax/#projection to see if MathJax is working 
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML'
  - 'https://code.jquery.com/jquery-3.1.1.min.js'
  # - '//code.kx.com/scripts/fdtracker.js'
  - 'https://tracker.mrpfd.com/tracker.js'
  - '//code.kx.com/scripts/googleanalytics.js'
  # - 'http://code.kx.com/scripts/theme.js'
  - 'https://use.fontawesome.com/3dbf29ed12.js'
  # - 'scripts/arrive.min.js' # required for theme.js
  # theme.js modifies HTML to prepare for prism.js
  - 'scripts/theme.js'
  # Prism script includes plugin Copy to Clipboard http://prismjs.com/download.html
  # Omits plugins Command Line, Line highlight, and Line Numbers: no effect
  - 'scripts/prism.js'
  # - 'scripts/prism.js'
markdown_extensions:
  - admonition
  # - codehilite(guess_lang=false)
  - extra
  # - fenced_code
  - fontawesome_markdown
  - meta
  - pymdownx.arithmatex
  # - pymdownx.betterem(smart_enable=all)
  # - pymdownx.caret
  # - pymdownx.critic
  # - pymdownx.emoji:
  # emoji_generator: !!python/name:pymdownx.emoji.to_svg
  # - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  # - pymdownx.smartsymbols
  # - pymdownx.superfences
  # - pymdownx.tasklist(custom_checkbox=true)
  # - pymdownx.tilde
  - toc:
      permalink: True
plugins: []
  # - search
remote_branch: 'master'
site_dir: 'site'
site_author: 'Kx Systems'
site_description: Resources for kdb+ programmers
# config.site_name: 'code.kx.com'
site_name: 'code.kx.com'
site_url: 'http://code.kx.com'
# repo_name: 'GitHub'
# repo_url: 'https://github.com/kxsystems/docs'
theme: 
  favicon: './img/favicon.ico'
  feature:
    tabs: true
  name: 'material'
  logo: 'img/kx.jpeg'
  palette: 
    primary: 'blue'
    accent: 'deep orange'
pages:
  - Home: index.md
  - Get started: learn.md
  - Reference card: ref/card.md
  - Platform for Kx: platform.md
  - GitHub: github.md
  - Q for Mortals 3: q4m3.md
  - Support: support.md
  - Archive: archive.md
  - Reference: 
    - Adverbs: ref/adverbs.md
    - Command line: ref/cmdline.md
    - Datatypes: ref/datatypes.md
    - Debugging: ref/debug.md
    - Developer tools: ref/devtools.md
    - Elements: ref/elements.md
    - Errors: ref/error-list.md
    - Glossary: ref/glossary.md
    - IPC protocol: ref/ipc.md
    - Internal functions: ref/internal.md
    - Releases:
      - Changes in 3.6: ref/releases/ChangesIn3.6.md
      - Changes in 3.5: ref/releases/ChangesIn3.5.md
      - Changes in 3.4: ref/releases/ChangesIn3.4.md
      - Changes in 3.3: ref/releases/ChangesIn3.3.md
      - Changes in 3.2: ref/releases/ChangesIn3.2.md
      - Changes in 3.1: ref/releases/ChangesIn3.1.md
      - Changes in 3.0: ref/releases/ChangesIn3.0.md
      - Changes in 2.8: ref/releases/ChangesIn2.8.md
      - Changes in 2.7: ref/releases/ChangesIn2.7.md
      - Changes in 2.6: ref/releases/ChangesIn2.6.md
      - Changes in 2.5: ref/releases/ChangesIn2.5.md
      - Changes in 2.4: ref/releases/ChangesIn2.4.md
      - Withdrawn: ref/withdrawn.md
    - Semantics:
      - Arithmetic (integer): ref/arith-integer.md
      - Arithmetic (float): ref/arith-float.md
      - Casting & encoding: ref/casting.md
      - Comparison: ref/comparison.md
      - Database: ref/database.md
      - Dictionaries & tables: ref/dictsandtables.md
      - Enumeration: ref/enums.md
      - Environment: ref/environment.md
      - Evaluation control: ref/control.md
      - Error handling: ref/errors.md
      - Files (numbers): ref/filenumbers.md
      - Files (words): ref/filewords.md
      - Functional SQL: ref/funsql.md
      - Joins: ref/joins.md
      - JSON: ref/dotj.md
      - Lists: ref/lists.md
      - Logic: ref/logic.md
      - Markup: ref/doth.md
      - Matrixes: ref/matrixes.md
      - Metadata: ref/metadata.md
      - OS: ref/os.md
      - Parallel processing: ref/peach.md
      - Parse trees: ref/parsetrees.md
      - Q-SQL: ref/qsql.md
          #   - exec: ref/exec.md
      - Randomness: ref/random.md
      - Search: ref/search.md
      - Selection: ref/select.md
      - Sort: ref/sort.md
      - Statistics (aggregates): ref/stats-aggregates.md
      - Statistics (moving): ref/stats-moving.md
      - Strings: ref/strings.md
      - System & callbacks: ref/dotz.md
      - Trigonometry: ref/trig.md
      - Unclassified: ref/unclassified.md
      - Utilities: ref/dotq.md
    - Syntax: ref/syntax.md
    - System commands: ref/syscmds.md
  - Tutorials:
    - Installing: 
      - Overview: tutorials/install/index.md
      - Linux: tutorials/install/linux.md
      - macOS: tutorials/install/macos.md
      - Windows: tutorials/install/windows.md
      - DigitalOcean: tutorials/install/digitalocean.md
    - Licensing: tutorials/licensing.md
    - A brief introduction:
      - First steps: tutorials/first-steps.md
      - In-memory queries: tutorials/in-memory-queries.md
      - On-disk queries: tutorials/on-disk-queries.md
    - Dictionaries & tables: tutorials/dictsandtables.md
    # - Idioms: tutorials/idioms.md
    - Q by examples: tutorials/q-by-examples.md
    - An introduction to kdb+: tutorials/q-for-all.md
    - Shifts & scans: tutorials/shifts-scans.md
    - Starting kdb+:
      - 1. Introduction: tutorials/startingq/introduction.md
      - 2. The q language: tutorials/startingq/language.md
      - 3. IPC: tutorials/startingq/ipc.md
      - 4. Tables: tutorials/startingq/tables.md
      - 5. HDB: tutorials/startingq/hdb.md
      - 6. Kdb+tick: tutorials/startingq/tick.md
    - Views: tutorials/views.md
  - Cloud: 
    - Amazon EC2: 
      - Migrating a kdb+ HDB to Amazon EC2: cloud/aws/index.md
      # - In-house vs EC2: cloud/aws/in-house-vs-ec2.md
      # - Historical data layouts: cloud/aws/historical-data-layouts.md
      # - Data locality: cloud/aws/data-locality.md
      # - Getting data into EC2: cloud/aws/getting-data-in.md
      # - Security: cloud/aws/security.md
      # - Getting data out of EC2: cloud/aws/getting-data-out.md
      # - Storing HDB in S3: cloud/aws/storing-hdb-in-s3.md
      # - Disaster recovery: cloud/aws/disaster-recovery.md
      # - Licensing: cloud/aws/licensing.md
      # - Encryption: cloud/aws/encryption.md
      # - Benchmarking: cloud/aws/benchmarking.md
      # - Observations: cloud/aws/observations.md
      # - Network configuration: cloud/aws/network-configuration.md
      - A. Elastic Block Store (EBS): cloud/aws/app-a-ebs.md
      - B. EFS (NFS): cloud/aws/app-b-efs-nfs.md
      - C. Amazon Storage Gateway: cloud/aws/app-c-asg.md
      - D. MapR-FS: cloud/aws/app-d-mapr.md
      - E. Goofys: cloud/aws/app-e-goofys.md
      - F. S3FS: cloud/aws/app-f-s3fs.md
      - G. S3QL: cloud/aws/app-g-s3ql.md
      - H. ObjectiveFS: cloud/aws/app-h-objectivefs.md
      - I. WekaIO Matrix: cloud/aws/app-i-wekaio-matrix.md
      - J. Quobyte: cloud/aws/app-j-quobyte.md
    - Google CPM: cloud/gcpm/index.md
  - Machine learning:
    - Introduction: ml/index.md
    - Set up: ml/setup.md
    - Demonstration notebooks: ml/notebooks.md
    - Toolkit:
      - Overview: ml/toolkit/index.md
      - Utilities: ml/toolkit/utils.md
      - FRESH: ml/toolkit/fresh.md  
    - Natural language processing: ml/nlp.md
    - embedPy:
      - Overview: ml/embedpy/index.md
      # - Running Python code: ml/embedpy/running.md
      # - EmbedPy objects: ml/embedpy/objects.md
      # - Function calls: ml/embedpy/functions.md
      # - Printing and help: ml/embedpy/printing.md
      # - Closures and generators: ml/embedpy/closures.md
      - FAQ: ml/embedpy/faq.md
      - Reference: ml/embedpy/reference.md
    - JupyterQ: ml/jupyterq/index.md
  - Interfaces:
    - Index: interfaces.md
    - Fusion for kdb+:
      - Introduction: interfaces/fusion.md
      - FFI: interfaces/ffi.md
      - Java: interfaces/java-client-for-q.md
      - Jupyter: interfaces/jupyterq.md
      - Kafka: interfaces/kafka.md
      - Python (embedPy): interfaces/embedpy.md
      - Python (PyQ):
        - Quick start: interfaces/pyq/index.md
        - Installation: interfaces/pyq/install.md
        - User guide: interfaces/pyq/user-guide.md
        - Reference: interfaces/pyq/reference.md
        - What’s new: interfaces/pyq/whats-new.md
        - Version history: interfaces/pyq/history.md
      - R: interfaces/with-r.md
    - Interfaces to kdb+ for: 
      - C: interfaces/c-client-for-q.md
      - C API reference: interfaces/capiref.md
      - C#: interfaces/csharp-client-for-q.md
      - Excel: interfaces/excel-client-for-q.md
      - J: interfaces/j-client-for-q.md
      - JDBC: interfaces/jdbc-client-for-kdb.md
      - Matlab: interfaces/matlab-client-for-q.md
      - ODBC: interfaces/q-server-for-odbc.md
      - ODBC3: interfaces/q-server-for-odbc3.md 
      - Perl: interfaces/perl-client-for-q.md 
      - Scala: interfaces/scala-client-for-q.md 
    - Interfaces from q to: 
      - Bloomberg: interfaces/q-client-for-bloomberg.md
      - C/C++ functions: interfaces/using-c-functions.md
      - GPUs: interfaces/gpus.md
      - J: interfaces/q-client-for-j.md
      - ODBC: interfaces/q-client-for-odbc.md
  - Cookbook:
    - Introduction: cookbook/index.md
    - Alternative in-memory layouts: cookbook/alternative-in-memory-layouts.md
    - Authentication and access: cookbook/authentication.md
    - Bulk Copy Program: cookbook/bcp.md
    - Callbacks: cookbook/callbacks.md
    - Chained tickerplant: cookbook/chained-tickerplant.md
    - Client-server: cookbook/client-server.md
    - Compacting HDB sym: cookbook/compacting-hdb-sym.md
    - Corporate actions: cookbook/corporate-actions.md
    - CPU affinity: cookbook/cpu-affinity.md
    - Custom web server: cookbook/custom-web.md
    - Daemon: cookbook/daemon.md
    - Deferred response: cookbook/deferred-response.md
    - FAQ: cookbook/faq.md
    - FAQ from k4 listbox: cookbook/faq-listbox.md
    - File compression: cookbook/file-compression.md
    - Firewalling: cookbook/firewalling.md
    - Geospatial: cookbook/geospatial.md
    - inetd/xinetd: cookbook/inetd.md
    - Interprocess communication: cookbook/ipc.md
    - Kdb+tick configuration: cookbook/kdb-tick.md
    - Linear programming: cookbook/lp.md
    - Linking columns: cookbook/linking-columns.md
    - Linux production notes: cookbook/linux-production.md
    - Load balancing: cookbook/load-balancing.md
    - Loading from large files: cookbook/loading-from-large-files.md
    - Logging: cookbook/logging.md
    - Multithreaded input: cookbook/multithreaded-input.md
    - Named pipes: cookbook/named-pipes.md
    - ODBC: cookbook/odbc.md
    - Performance tips: cookbook/performance-tips.md
    - Precision: cookbook/precision.md
    - Pivoting tables: cookbook/pivoting-tables.md
    - Programming examples: cookbook/programming-examples.md
    - Programming idioms: cookbook/programming-idioms.md
    - Publish and subscribe: cookbook/publish-subscribe.md
    - Regular expressions: cookbook/regex.md
    - Server calling client: cookbook/server-calling-client.md
    - Splayed schema change: cookbook/splayed-schema-change.md
    - Splayed tables: cookbook/splayed-tables.md
    - Splaying large files: cookbook/splaying-large-files.md
    - SSL/TLS: cookbook/ssl.md
    - Temporal data: cookbook/temporal-data.md
    - Timezones: cookbook/timezones.md
    - Unicode: cookbook/unicode.md
    - Unit tests: cookbook/unit-tests.md
    - Using .z: cookbook/using-dotz.md
    - Write-only RDB: cookbook/w-q.md
    - WebSockets: cookbook/websockets.md
    - Windows Service: cookbook/windows-service.md
  - White papers: 
    - Index: whitepapers.md
    - C# GUIs: wp/gui/index.md
    - Data visualization: wp/data-visualization/index.md
    - Disaster recovery: wp/disaster-recovery/index.md
    - EmbedPy and LASSO: wp/embedpy-lasso/index.md
    - Java API: 
      - Introduction: wp/java-api/index.md
      - API overview: wp/java-api/api.md
      - Models and type mapping: wp/java-api/models.md
      - Practical examples: wp/java-api/examples.md
      - Connecting to kdb+: wp/java-api/connecting.md
      - Extracting data from returned objects: wp/java-api/extracting-data.md
      - Creating and passing data objects: wp/java-api/data-objects.md
      - Reconnecting automatically: wp/java-api/reconnect.md
      - Kdb+ tickerplant overview: wp/java-api/tickerplant-overview.md
      - Tickerplant subscriptions: wp/java-api/tickerplant-subscribe.md
      - Tickerplant publishing: wp/java-api/tickerplant-publish.md
      - Connecting to Java: wp/java-api/connect-from-kdb.md
      - Conclusion : wp/java-api/conclusion.md
    - Market fragmentation: wp/market-fragmentation/index.md
    - Multi partitions: wp/multi-partitioned-dbs/index.md
    - Neural networks: wp/neural-networks/index.md
    - Query Routing: wp/query-routing/index.md
    - Signal processing and q: wp/signal-processing/index.md
    - WebSockets: wp/websockets/index.md
  - About: 
    - Kx technology: about/kxtechnology.md
    - Site news: about/site-news.md
    - This site: about/thissite.md
    - Style guide:
      - Introduction: about/sg/index.md
      - Characters: about/sg/characters.md
      - Miscellaneous: about/sg/miscellaneous.md
      - Style: about/sg/style.md
      - Typography: about/sg/typography.md
      - Terminology: about/sg/terminology.md
    - License agreements:
      - GCP: license/gcp.md
