/*
	Title: Extra CSS for Q for Mortals 3 in MkDocs
	Author: stephen@kx.com
 */


 /* palette
--------------------------------------------- */
 .palette-primary-blue .article a, 
 .palette-primary-blue .drawer .toc a.current, 
 .palette-primary-blue .article code, 
 .palette-primary-blue .article h1, 
 .palette-primary-blue .article h2, 
 .palette-primary-blue .article h3
 {
 	color: #0070cd;
 } 

 .palette-primary-blue .footer, 
 .palette-primary-blue .header,
 [data-md-color-primary=blue] .md-header
 {
 	background: #0070cd; 
 }

 .palette-primary-blue .article table th 
 {
 	backgound: #0971ce;
 }

 /* override accent background colour on repo download and star buttons */
.scrollable .wrapper .repo a {
 	background: #8099fd;
 }

/* type
--------------------------------------------- */

/* enlarge code within tables */
 table tbody td code {
 	font-size: 15px !important;
 }

 .article {
 	font-size: 15px;
 }
 .article table {
 	font-size: 14px;
 }

 /* code
--------------------------------------------- */
.md-typeset code,
.md-typeset pre {
	background: rgba(0,0,0,0.05);
	color: #633;
}
.md-typeset aside code {
	box-shadow: none;
	padding: 0 .25em;
}
.md-typeset pre>code {
	background: transparent;
}
.md-typeset a>code {
	background-color: rgba(0,0,0,0.05);
	padding: 0 .15em;
}
/*
.palette-primary-blue .article h3 code {
	background: transparent;
	color: inherit;
	font-family: inherit;
}
*/

/* front page
--------------------------------------------- */
#front-page {
	box-shadow: none;
}
#front-page td {
	border: none;
	font-size: 1.2em;
}

/* asides
--------------------------------------------- */
aside {
	background: #ddf;
	border-radius: 3px;
	box-shadow: 0 1.5px 3px rgba(0,0,0,.24);
	margin-top: 1em;
	padding: .3em 1em 0;
	}
aside p {
	padding: 0 0 0.8em;
}
.article aside ul {
	margin-top: 0;
}
aside .aside-type {
	display: block;
	float: left;
	font-weight: bold;
	margin: 0 .5em 1em 0;
	}
.palette-primary-blue aside a {
	color: orange;
}
.article aside pre {
	background: rgba(0,0,0,0);
	margin-top: 0;
}
